/*
	G > Ash > #4d4f53
	[] > Green > #3bb874
	red > #FF6F59
	*/
/* @import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700); */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500);
body{
	background-color:#f9f9f9;
}
p{
	font-size:18px;
}
section,
header,
footer,
article{
	font-family: 'Ubuntu', sans-serif;
}

article .badge,
section#sidebar .badge{
	background-color:transparent;
	color:#4d4f53;
	border:1px solid #3bb874;
	border-radius:0px;
	font-weight:normal;
}
article img{
 width: inherit;  
  width: 100%;
  height: auto; 
}

header{
	background-color:#f9f9f9;
	color:#4d4f53;
	padding:60px 25%;
}
header h1{
	color:#4d4f53;
	margin-top:5px;

}
header h1 a,
header h1 a:hover{
	color:#4d4f53;	
	text-decoration:none;
}
header img{
	margin: 0px auto;
}

header.common{
	padding:30px 25%;
}

/* Navigation */
.navbar-default{
	background-color: #fff;
	border:0px;
}
.navbar-default .navbar-nav > li > a{
	color:#777;
	border-bottom: 2px solid transparent;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus{
	color:#4d4f53;
	border-color: #3bb874;
}


#navigation{
	padding-left:0px;
}
section#sidebar{
	margin-top:15px;
}
section#sidebar .well p.desc{
	font-size:14px;
}
section#sidebar .well p.list{
	font-size:16px;
}
section#sidebar p strong{
	border-bottom: 2px solid #3bb874;
	font-weight:normal;
	padding-bottom: 1px;
	font-size:16px;
}
section#sidebar li{
	list-style-type:none;
}

section#sidebar ul{
	padding:0px;
}

section#sidebar ul li a{
	text-transform: capitalize;
	color: #4d4f53;
	text-decoration: none;
}
/* Featured articles */
section#featured-articles{
	margin-top:15px;
}

section#featured-articles article{
	padding:15px;
}

section#featured-articles h2{
	font-size:18px;
	margin-top: 10px;
}

.well{
	background-color:white;
	box-shadow:none;
	border-color:white;
}

.well .tag-cloud{
	/* float:left; */
}

div#articles article{
	margin-top: 15px;
	padding: 15px;
}


article{
	background-color:white;
}

article h2 a{
	color:#4d4f53;
}
footer{
	margin-top:10px;
}
footer .copyright{
	padding: 5px 0px;
}

.box{
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
	box-shadow: 0 2px 0 #cecece;
}

#sidebar .authors li{
	padding: 4px 4px;
}

#sidebar .well{
	padding-top: 10px;
	padding-bottom: 6px;
}

#sidebar .tag-cloud .tag{
	display:inline-block;
	padding: 2px 4px;
	border: 2px solid #3bb874;
	margin-top: 4px;
}