<section id="sidebar">
	<div class="well box about-us">
		<p><strong>About Us</strong></p>
		<p class="desc"> {{ site.about }}</p>
	</div>
	<div class="well box recent-posts">
		<p><strong>Recent Posts</strong></p>
		<ul>
			{% for post in site.posts limit:5 %}
			<li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="well box catogories">
		<p><strong>Categories</strong></p>
		<ul>
			{% for catogory in site.category-list %}
			<li><a href="{{ site.baseurl }}/{{ catogory }}">{{ catogory }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="well box tag-cloud">
		<p><strong>Tag Cloud</strong></p>
		<ul>
			{% for tag in site.data.info.tags %}
			<li class="tag">{{ tag }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="well box sponsored">
		<p><strong>Sponsored</strong></p>
		<ul class="row">
		{% for sponsor in site.data.info.sponsors %}
			<li class="col-sm-6">
			<img src="{{ site.baseurl }}/public/img/sponsors/{{ sponsor.image }}" alt="{{ sponsor.name }}" title="{{ sponsor.name }}" class="img img-responsive">	
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="well box authors">
		<p><strong>Authors</strong></p>
		<ul class="row">
			{% for author in site.data.info.authors %}
			<li class="col-sm-4">
				<img src="{{ site.baseurl }}/public/img/authors/shajanjp-200.jpg" alt="{{ author.name }}" title="{{ author.name }}" class="img img-responsive">
			</li>
			{% endfor %}
		</ul>
	</div>
</section>