<!DOCTYPE html>
<html>
<head>
	<title>Sanz</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#8dc34b">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="A minimal jekyl template.">
	<meta name="keywords" content="sanz,jekyl,template,gwc,guyswhocode">
	<meta name="author" content="GuysWhoCode">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="text-center">
			<img src="img/gwc-logo.png" alt="GuysWhoCode" class="img img-responsive" width="100px" height="100px">
			<h1>GuysWhoCode</h1>
			<p>Zeroes and ones in love !</p>
		</div>
	</header>

	<!-- Featured articles -->
	<section id="featured-articles" class="container">
		<div class="row">
			<article class="col-sm-4">
				<img src="img/coffee-code.jpg" alt="Dummy Image" class="img img-responsive">
				<p>
					Lorem ipsum dolor sit amet, consectetur.
				</p>			
			</article>
			<article class="col-sm-4">
				<img src="img/coffee-code.jpg" alt="Dummy Image" class="img img-responsive">
				<p>
					Lorem ipsum dolor sit amet, consectetur.
				</p>			
			</article>
			<article class="col-sm-4">
				<img src="img/coffee-code.jpg" alt="Dummy Image" class="img img-responsive">
				<p>
					Lorem ipsum dolor sit amet, consectetur.
				</p>			
			</article>
		</div>
	</section>


	<!-- articles -->
	<section id="articles" class="container">
		<div class="row">
			<!-- Main Articles -->
			<div class="col-sm-9">
				<article class="row">
					<img src="img/coffee-code.jpg" alt="" class="img img-responsive">
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti aliquid ipsum. Molestiae veritatis unde, sapiente repudiandae officia dolores nulla? Dicta ducimus porro, voluptatum vero, iure explicabo esse. Quibusdam repellendus saepe quis dolore eligendi, architecto nemo provident atque harum.</p>
				</article>
				<article class="row">
					<img src="img/mac-in-work.jpg" alt="" class="img img-responsive">
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti aliquid ipsum. Molestiae veritatis unde, sapiente repudiandae officia dolores nulla? Dicta ducimus porro, voluptatum vero, iure explicabo esse. Quibusdam repellendus saepe quis dolore eligendi, architecto nemo provident atque harum.</p>
				</article>
				<article class="row">
					<img src="img/coffee-code.jpg" alt="" class="img img-responsive">
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing.</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur deleniti aliquid ipsum. Molestiae veritatis unde, sapiente repudiandae officia dolores nulla? Dicta ducimus porro, voluptatum vero, iure explicabo esse. Quibusdam repellendus saepe quis dolore eligendi, architecto nemo provident atque harum.</p>
				</article>

			</div>
			<section id="sidebar" class="col-sm-3">
				<div class="well about-us">
					<p><strong>About Us</strong></p>
					<p class="desc">
						We are a nonprofit organization working to bridge the gap between students and computer technologies. We also aims at developing on ideas that are useful and beneficial to everyone.
					</p>
				</div>
				<div class="well recent-posts">
					<p><strong>Recent Posts</strong></p>
					<ul>
						<li>Recent post 1</li>
						<li>Recent post 2</li>
						<li>Recent post 3</li>
						<li>Recent post 4</li>
						<li>Recent post 5</li>
					</ul>
				</div>
				<div class="well catogories">
					<p><strong>Categories</strong></p>
					<ul>
						<li>Test category 1</li>
						<li>Test category 2</li>
						<li>Test category 3</li>
						<li>Test category 4</li>
						<li>Test category 5</li>
					</ul>
				</div>
				<div class="well tag-cloud">
					<p><strong>Tag Cloud</strong></p>
					<ul>
						<li>Tag Test 1</li>
						<li>Tag Test 2</li>
						<li>Tag Test 3</li>
						<li>Tag Test 4</li>
						<li>Tag Test 5</li>
					</ul>
				</div>

			</section>
		</div>
	</section>	


	<footer>
		<p class="text-center copyright">Made with love in <a href="http://www.guyswhocode.com/labs">GWC labs</a>.</p>
	</footer>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
</body>
</html>