<!DOCTYPE html>
<html>
<head>
	<title>Sanz</title>
	<meta charset="UTF-8">
	<meta name="theme-color" content="#8dc34b">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="A minimal jekyl template.">
	<meta name="keywords" content="sanz,jekyl,template,gwc,guyswhocode">
	<meta name="author" content="GuysWhoCode">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
	<!-- Header -->
	{% include header.html %}

	<!-- Navigation -->
	{% include nav.html %}

	<!-- articles -->
	<div class="container">
		<div class="row">
			<!-- Main Articles -->
			<div id="articles" class="col-sm-9">
				{% include articles.html %}
			</div>
			<div class="col-sm-3">
				<!-- Sidebar -->
				{% include sidebar.html %}
			</div>
		</div>
	</div>	

	<!-- Featured articles -->
	{% include featured-articles.html %}
	
	<!-- Footer -->
	{% include footer.html %}
</body>
</html>