<!DOCTYPE html>
<html>
<head>
	<title>Sanz</title>
	<meta charset="UTF-8">
	{% include post-meta.html %}
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
</head>
<body>
	{% include header-common.html %}

	<!-- articles -->
	<div class="container">
		<div class="row">
			<!-- Main Articles -->
			<div id="articles" class="col-sm-9">
				<article class="row box">
					<img src="{{ site.baseurl }}/public/img/posts/{{ page.thumbnail }}" alt="" class="img img-responsive">
					<h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
					<p>{{ page.content }}</p>
				</article>
			</div>
			<div class="col-sm-3">
				{% include sidebar.html %}
			</div>
		</div>
	</div>	

	{% include footer.html%}
</body>
</html>